*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}


/* Pre-home */

.body-index{
    background: linear-gradient(to right, #274db4, #bfb9ff);
}

.main-prehome{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 800px;
}
    .pre-main-page{
        display: flex;
        flex-direction: column;
        justify-self: center;
        text-align: center;
        font-size: 1rem;
        background: linear-gradient(to left, #1f1f77, #4f76f5);
        color: #fff;
        padding: 3rem 6rem 6rem 6rem;
        border-radius: 1rem;
        box-shadow: 1px 1px 20px 1px rgb(0, 0, 80 );
        height: 80%;
        width: 30%;
        transition: 0.3s;
    }

    .form-usuario{
        display: flex;
        flex-direction: column;
        gap: 0.6rem;
        text-align: start;
        margin: 0;
    }

    .form-usuario label{
        font-size: 1.5rem;
        font-weight: 300;
    }

    .welcome{
        display: flex;
        flex-direction: column;
        width: 50%;
        height: 100%;
    }

    .welcome-message{
        font-size: 3rem;
        text-align: center;
        font-weight: 600;
    }

    .welcome-message span{
        background: linear-gradient(to right, #9fc9ff, #0753f8); 
        -webkit-background-clip: text; 
        background-clip: text; 
        color: transparent;
        font-weight: bold; 
}

    .welcome-subtitle{
        margin-top: 1rem;
        font-weight: 400;
        font-size: 1.6rem;
    }

    .welcome-form{
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
        margin: auto;
        margin-top: 1.5rem;
        font-size: 1.5rem;
        font-weight: 600;
        white-space: nowrap;
        width: 5%;
    }

    .welcome-form input{
        padding:0.3rem;
        border-radius: 0.5rem;
        background: #ffffff;
        border: none;
    }

    .welcome-form button{
        padding: 0.4rem;
        width: 100px;
        margin-top: 0.8rem;
        border-radius: 0.8rem;
        border: none;
        cursor: pointer;
    }
    
    .welcome-form button:hover{
        background: linear-gradient(to left, #171761, #375fe2);
        color: #fff;
        transition: 0.3s;
    }

/* Home */

body{
    background: linear-gradient(to right, #ffffff, #dddaff);
}

.main-header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1.2rem;
    position: sticky;
    top: 0;
}

.main-header i{
    font-size: 1.5rem;
}

.main-title{
    font-size: 2.5rem;
    background: linear-gradient(to left, #699adb, #0753f8); 
    -webkit-background-clip: text; 
    background-clip: text; 
    color: transparent; 
}

header i {
    color: #0000a2;
    font-size: 1.4rem;
}

header a{
    text-decoration: none;
    color: #000000;
    margin-left: 0.7rem;
    font-size: 1.4rem;
    font-weight: 600;
}

header a:hover{
    color: #3131de;
    transition: 0.3s;
}

.navbar{
    display: flex;
    justify-content: space-evenly;
    height: 50px;
    margin-top: 1rem;
    align-items: center;
    color: #fff;

}

.navbar ul{
    display: flex;
    gap: 2.5rem;
}

.navbar li{
    font-size: 1.4rem;
    background: linear-gradient(to left, #0f12e2, #7993e9);
    padding: 1rem;
    border-radius: 5rem;
}

.navbar li:hover{
    background: linear-gradient(to left, #030579, #4e70dd);
    transition: 0.3s;
    cursor: pointer;
}

.navbar a{
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 400;
    margin-left: 10px;
}

.navbar a:hover{
    color: #bbbbf3;
    transition: 0.3s;
}

.main-home{
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(3, auto);
    row-gap: 2.5rem;
    justify-content: space-around;
    width: 50%;
    justify-self: center;
    margin: 2rem 0 2rem 0;
}

.main-articles-title{
    grid-column: 1/-1;
    font-weight: 600 bold;
    font-size: 1.8rem;
    color: #000;
}

.product-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background: linear-gradient(to bottom, #ffffff, #d9d6ff);
    width: 230px;
    height: 380px;
    border-radius: 1rem;
    box-shadow: 1px 1px 6px 1px rgb(0, 0, 60)
}

.product-img{
    width: 85%;
    height: 50%;
    border-radius: 0.5rem;
}

.product-data{
    display: flex;
    flex-direction: column;
    text-align: start;
    width: 85%;
    height: 40%;
}

.product-name{
    width: 100%;
    font-size: 1.3rem;
    font-weight: 600;
}

.product-price{
    margin-top: 0.5rem;
    font-size: 1.2rem;
    font-weight: 700;
}

.product-button{
    background: linear-gradient(to top, #0608b8, #5b7dee);
    color:#fff;
    margin-top: 1rem;
    cursor: pointer;
    border-radius: 0.5rem;
    padding: 0.4rem;
    border: none;
}

.product-button:hover{
    transition: 0.3s;
    background: linear-gradient(to top, #080a68, #5374df);
    color:#ffffff;
}

/* Mi carrito */

.shopping-cart{
    background-color: #fff;
    width: 1000px;
    height: 100%;
    border-radius: 1rem;
    padding: 1.5rem;
    box-shadow: 1px 1px 6px 1px rgb(0, 0, 80);
}

.shopping-cart-image{
    width: 30px;
}

.shopping-cart-title{
    margin-bottom: 0.4rem;
    font-size: 1.8rem;
}

.shopping-cart-message{
    font-weight: 400;
    margin-bottom: 1rem;
}

.shopping-cart-item{
    display: flex;
    gap: 10px;
    margin-bottom: 5px;
}

.botonEliminar{
    width: 25px;
    height: 25px;
    padding: 0 0 1.7rem 0;
    font-weight: 900 bold;
    font-size: 1.3rem;
    color: #3131de;
    background: #fff;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    margin-left: 0.5rem;
}

.botonEliminar:hover{
    transition: 0.3s;
    color: #1b1d63;
}

.shopping-cart-finish{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.shopping-cart-button{
    border: none;
    padding: 0.6rem;
    font-size: 0.9rem;
    border-radius: 0.5rem;
    background-color: #3131de;
    color: #fff;
    margin-top: 1.2rem;
    cursor: pointer;
}

.shopping-cart-button:hover{
    background-color: #0000a2;
    color: #fff;
    transition: 0.3s;
}

.shopping-cart-button-delete{
    border: none;
    padding: 0.6rem;
    font-size: 0.9rem;
    border-radius: 0.5rem;
    background-color: #3131de;
    margin: 1.2rem 0 0 30rem;
    color: #fff;
    cursor: pointer;
}

.shopping-cart-button-delete:hover{
    background-color: #0000a2;
    color: #fff;
    transition: 0.3s;
}

.shopping-cart-add-mp{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    border: none;
    font-size: 1rem;
    border-radius: 0.5rem;
    background-color: #ffffff;
    color: #000000;
    margin-top: 2rem ;
    cursor: pointer;
    transition: 0.3s;
}

.shopping-cart-total{
    font-size: 1.3rem;
    margin-top: 1.2rem;
}

/* Mi cuenta */

.account-data{
    width: 1000px;
    height: 100%;
    background-color: #fff;
    padding: 1.5rem;
    box-shadow: 1px 1px 6px 1px rgb(0, 0, 80);
    border-radius: 1rem;
}

.account-data-title{
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.account-data-list li{
    list-style: none;
    font-size: 1.2rem;
    font-weight: 600;
}
